In [1]:
import os
import pandas as pd

In [99]:
article = os.listdir('/Users/sinjhanghuang/Documents/碩士畢業論文/柏凱聯合論文/柏凱合作文章2011-2015（整合版）/2011-2015')
len(article)

4370

In [100]:
all_data = pd.read_excel('/Users/sinjhanghuang/Documents/碩士畢業論文/柏凱聯合論文/柏凱合作文章2011-2015（整合版）/2011-2015 company_name_clear.xlsx')
all_data

      FacilityID FacilityStartDate                company      company_clear
0         270792        04/12/2011               AAR Corp                AAR
1         340002        03/24/2015               AAR Corp                AAR
2         302944        06/21/2013  American Airlines Inc  American Airlines
3         307808        08/01/2013  American Airlines Inc  American Airlines
4         313900        12/17/2013  American Airlines Inc  American Airlines
...          ...               ...                    ...                ...
8560      330733        10/15/2014           Allegion Plc           Allegion
8561      331142        10/15/2014           Allegion Plc           Allegion
8562      347655        09/30/2015           Allegion Plc           Allegion
8563      347656        09/30/2015           Allegion Plc           Allegion
8564      347657        09/30/2015           Allegion Plc           Allegion

[8565 rows x 4 columns]

In [102]:
for i in range(0,len(article)):
    data = pd.read_csv('/Users/sinjhanghuang/Documents/碩士畢業論文/柏凱聯合論文/柏凱合作文章2011-2015（整合版）/2011-2015/{}'\
                       .format(article[i]))
    data['head_related'] = 0
    data['text_related'] = 0
    
    a = list(all_data['FacilityID']).index(int(article[i][:6]))
    
    for j in range(0,data.shape[0]):
#         all_data.iloc[a]['company_clear'] in str(data['head'][j])
        if all_data.iloc[a]['company_clear'] in str(data['head'][j]):
            data.loc[j, 'head_related'] = 1
        else :
            data.loc[j, 'head_related'] = 0
            
    for k in range(0,data.shape[0]):
#         all_data.iloc[a]['company_clear'] in str(data['text'][j])
        if all_data.iloc[a]['company_clear'] in str(data['text'][k]):
            data.loc[k, 'text_related'] = 1
        else:
            data.loc[k, 'text_related'] = 0
    data.to_csv('/Users/sinjhanghuang/Documents/碩士畢業論文/柏凱聯合論文/柏凱合作文章2011-2015（整合版）/2011-2015/{}'\
                .format(article[i]), index=False)

In [92]:
print(i)
print(article[i])

2120
322657.csv

In [ ]:
# # 使用另一種方式寫
# all_data['company_clear'][all_data['FacilityID']==int(article[0][:6])].values[0]